.personal-information__content {
  margin-left: 20px;
}

.personal-information__content-hexagon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .personal-information__content-name {
    right: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-right: -20px;
    .personal-information__last-name {
      p {
        color: $primary;
        font-weight: bold;
        font-family: $font-family-primary;
      }
      font-size: 60px;
    }
    .personal-information__first-name {
      position: absolute;
      right: 0;
      bottom: 0;
      p {
        color: $secundary;
        font-size: 30px;
        font-family: "Homemade Apple", cursive;
      }
      margin-bottom: -15px;
      margin-right: -40px;
    }
  }

  .personal-information__content-img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .personal-information__img {
      max-width: 600px;
    }
    .personal-information__img_two {
      max-width: 275px;
      position: absolute;
      border-top-left-radius: 45px;
      border-top-right-radius: 95px;
      border-bottom-right-radius: 90px;
      border-bottom-left-radius: 60px;
      z-index: 1;
      top: 0;
      left: 0;
      margin-top: 70px;
      margin-left: 150px;
    }
    .personal-information__img_three {
      position: absolute;
      z-index: 2;
      width: 300px;
      bottom: 110px;
      left: 136px;
    }
  }

  .personal-information__content-text {
    padding-top: 80px;
    .personal-information__is {
      position: relative;
      left: -20px;

      p {
        font-family: $font-family-primary;
        color: $font-color-primary;
        font-size: 50px;
        font-weight: bold;
      }
    }

    .personal-information__business {
      position: relative;
      left: -90px;
      p {
        font-family: $font-family-primary;
        color: $font-color-primary;
        font-size: 20px;
        font-weight: bold;
      }
      .personal-information__icono-location {
        font-size: 50px;
        color: $primary;
      }
    }
  }
}

@media (max-width: 1001px) {
  .personal-information__content {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .personal-information__content-hexagon {
    flex-direction: column;
    .personal-information__content-img {
      .personal-information__img {
        max-width: 450px;
      }
      .personal-information__img_two {
        max-width: 210px;
        margin-top: 50px;
        margin-left: 110px;
      }
      .personal-information__img_three {
        bottom: 60px;
        left: 80px;
      }
    }

    .personal-information__content-text {
      top: 0;
      margin-top: -130px;
      margin-left: 30px;
      .personal-information__is {
        left: 0;
      }

      .personal-information__business {
        position: relative;
        left: 0;
        .personal-information__icono-location {
          position: absolute;
          right: 0;
          margin-right: 10px;
          margin-top: -120px;
        }
      }
    }
  }
}

@media (max-width: 462px) {
  .personal-information__content-hexagon {
    .personal-information__content-name {
      margin: 0;
      margin-bottom: 10px;
      margin-top: 10px;
    }

    .personal-information__content-img {
      .personal-information__img {
        max-width: 250px;
      }
      .personal-information__img_two {
        border-top-right-radius: 60px;
        max-width: 116px;
        margin-top: 29px;
        margin-left: 60px;
      }
      .personal-information__img_three {
        bottom: 0px;
        left: 0;

        width: 240px;
      }
    }

    .personal-information__content-text {
      top: 0;
      margin-top: -120px;
      margin-left: 30px;

      .personal-information__is {
        left: 0;
        margin-left: 30px;
        p {
          font-size: 30px;
        }
      }
      .personal-information__business {
        p {
          font-size: 15px;
        }
        .personal-information__icono-location {
          font-size: 40px;
          margin-top: -90px;
        }
      }
    }
  }
}
