.projects__content {
  position: relative;
  background-color: $primary;
  background-attachment: fixed;
  padding-left: 50px;
  padding-bottom: 50px;
  p {
    font-weight: bold;
    font-family: $font-family-primary;
  }
}

.projects__img_esquina {
  position: absolute;
  bottom: 0;
  margin-left: -50px;
}

.projects__content_data {
  display: flex;
  width: 100%;
  .projects__title {
    width: 50%;
    margin-left: 20px;
    margin-top: 30px;

    p {
      color: $secundary;
      font-size: 170px;
    }
  }
  .projects__projects {
    width: 50%;
  }
}

@media (max-width: 1001px) {
  .projects__content_data {
    .projects__title {
      p {
        font-size: 70px;
      }
    }
  }
}

@media (max-width: 400px) {
  .projects__img_esquina {
    width: 90%;
  }
}
