.paper {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
}

@for $i from 1 through 5 {
  .paper--elevation-#{$i} {
    @include elevation($i)
  }
}

