.education__content {
  background-color: $secondary;
  p {
    color: white;
    font-weight: bold;
    font-family: $font-family-primary;
  }
}

.education__content_img {
  background: url("../../../assets/imgs/banner_t.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  width: 30%;
  height: 300px;
}

.education__content_data {
  display: flex;
  height: 400px;
  .education__content_data_university {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    width: 33%;
    height: 90%;
    border-right: 2px solid white;
    .education__university {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-self: center;

      .education__instituto {
        font-size: 21px;
      }
      .education__name_university {
        font-size: 30px;
      }
    }
  }

  .education__content_data_destacado {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    width: 36%;
    height: 90%;
    border-right: 2px solid white;
    .education__destacado {
      p {
        text-align: center;
        font-size: 70px;
      }
    }
  }
  .education__content_language {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    justify-content: center;
    height: 90%;
    width: 30%;
    .education__language {
      display: flex;
      justify-content: center;
      align-self: center;
      .education__content_icon {
        .icono {
          color: orange;
          font-size: 40px;
          margin-right: 15px;
        }
      }
      .education__content_text {
        .education__text_title {
          font-size: 21px;
        }
        .education__text_anguage {
          font-size: 25px;
        }
      }
    }
  }
}

@media (max-width: 1001px) {
  .education__content_data {
    flex-direction: column;
    .education__content_data_university {
      align-self: center;
      width: 90%;
      height: 90%;
      border-right: none;
      border-bottom: 2px solid white;
    }
    .education__content_data_destacado {
      display: flex;
      flex-direction: column;
      align-self: center;
      width: 90%;
      height: 90%;
      border-right: none;
      border-bottom: 2px solid white;
    }
    .education__content_language {
      height: 90%;
      width: 100%;
    }
  }
}

@media (max-width: 585px) {
  .education__content_img {
    display: none;
  }
  .education__content_data {
    .education__content_data_destacado {
      .education__destacado {
        p {
          font-size: 50px;
        }
      }
    }
  }
}
